* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 80%;
}

header,
nav,
footer {
    background: #659494;
    border-radius: 5px;
    color: white;
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    border: solid;
}

header:before,
nav:before,
footer:before {
    content: '<';
}

header:after,
nav:after,
footer:after {
    content: '>';
}
.carousel{
    background: #659494;
    border-radius: 5px;
    color: white;
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    border: solid;

}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #659494;
    border-radius: 5px;
    color: white;
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    border: solid;
    
}
.row div{
    border: solid;
    padding: 40px;
    
    
}
