* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
#Container {
    margin: auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    background-color: #2F333E;
}
header {
    display: flex;
    flex-flow: wrap;
    background-color:#CF1100;
}
.leftheader {
    color: white;
    height: 207px;
    width: 485px;
    background-color: #2F333E;
}
.rightheader {
    height: 207px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    color: #ffff;
    
}
.rightheader ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1.5em;
}
.resize {
    width: 60px;
    height: auto;
}
 

.greet {
    display: flex;
    flex-flow:column;
    text-align: center;
}
.greet p{
    text-align: center;
    margin-top: 0.4em;
}
.name {
    color: #CF1100;
    font-size:2em;
}