* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 50px;
    width: 100%;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
    
}
.nav-area {
    list-style: none;
}
.nav-area li {
    display: inline-block;
    padding: 0 15px;
}
.nav-area li a {
    transition: .3s;
    color: black;
    cursor: pointer;
}
.nav-area li a:hover {
    color: brown;
}
.invt {
    font-weight: bolder;
    font-size: 20px;
}
.buttons-nav {
    padding-right: 74px;
}
.Sign-in {
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;

}
.Sign-up {
    cursor: pointer;
    background-color:black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
}
#select1 {
    border: 0px;
    outline: 0px;
}
#select2 {
    border: 0px;
    outline: 0px;
}
.Sign-in:hover {
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.Referral {
    background-color: black;
    height: 280px;
    width: 94%;
    

}
.Rcommunity {
    color: white;
    padding-top: 70px;
    padding-left:60px;
    font-weight: lighter;
    padding-bottom: 20px;
}
p {
    color: white;
    font-weight: lighter;
    padding-left:60px;
}