* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: auto;
    /* padding-top: 10px; */
    /* padding-left: 50px; */
    width: 90%;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
    
}
.nav-area {
    list-style: none;
}
.nav-area li {
    display: inline-block;
    padding: 0 15px;
}
.nav-area li a {
    transition: .3s;
    color: black;
    cursor: pointer;
}
.nav-area li a:hover {
    color: #A831A5
}
.invt {
    font-weight: bolder;
    font-size: 20px;
}
.buttons-nav {
    /* padding-right: 74px; */
}
.Sign-in {
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;

}
.Sign-up {
    cursor: pointer;
    background-color:black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
}
.Sign-up:hover {
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.Sign-in:hover {
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
#select1 {
    border: 0px;
    outline: 0px;
}
#select2 {
    border: 0px;
    outline: 0px;
}

.Referral {
    background-color: black;
    height: 280px;
    position: relative;
    padding: 60px;
    border-radius: 5px;

}
.Rcommunity {
    color: white;
    padding-bottom: 10px;

    font-weight: lighter;
    /* padding-bottom: 20px; */
}
.p1 {
    color: white;
    font-weight: lighter;
    

}
.p2 {
    color: white;
    font-weight: lighter;
    padding-bottom: 18px;
}
.hero {
    position: absolute;
    top: -18px;
    right: 1%;
    width: 474;
    height: 382;
}
#promoselect { 
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
}
#promoselect:hover {
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.submitbtn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.logos {
    display: flex;
    justify-content:space-evenly;
    margin-top: 10%;
}
.imgL {
    height: 36px;
    width: 134px;
}

.getCash {
    display: flex;
    flex-flow:nowrap;
    justify-content: space-between;
    margin-top: 7%;
    /* margin-left: 35px; */
    /* margin-right: 35px; */

}
.getCash>img {
    width: 33%;
}
#cashrewards {
    margin-bottom: 35px;
    margin-left: 30px;
    /* margin-right: 35px; */
}
#cashrewards2 {
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}
#cashrewards3 {
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}
#cashrewards4 {
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.submitbtn2 {
    margin-left:45px;
    padding: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.buttonpad {
    padding-left: 60px;
}
h5::before {
    content: url(/images/checkmark.svg)"\00a0\00a0\00a0";
}
h5 {
    display: inline-flex;
    font-size: 18px;
}
.referral2 {
    background-color: black;
    height: 280px;
    position: relative;
    /* padding: 60px; */
    border-radius: 5px;
    margin-top: 5%;
    padding: 60px;
}
.dontyou {
    color: white;
    /* padding-bottom: 10px; */

    font-weight: lighter;
    position: relative;
}
.refh3 {
    color: white;
}
.ftrbtn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
    font-weight: lighter;
}
.googlebtn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color:black;
    font-weight: lighter;
    background-color: white;
    background-image: url(/images/Google__G__Logo.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-x: 1px;
    background-position-y: center;
}

.ref2btns {
    margin-top: 15px;
}
h3::before {
    content: url(/images/iconmonstr-check-mark-4_1.svg)"\00a0\00a0\00a0";
}
h3 {
    display: flex;
}
.signupimg {
    position: absolute;
    top: -18px;
    right: 1%;
    width: 496;
    height: 346;
}
.grid-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
.column  .walls{
    margin-top: 8px;
    width: 88%;
    margin-left: 31px;
    margin-top: 25px
}
.column  .sky-red{
    margin-top: 22px;
    width: 81%;
    height: 38%;
    margin-left: 20px;
}
.column  .car-blue{
    margin-top: 8px;
    width: 100%;
}
.column  .footer3{
    margin-top: 8px;
    width: 75%;
    margin-left: 30px;
    height: 58%;
}
.column  .car-red{
    margin-top: 8px;
    width: 100%;
    margin-bottom: 20px;
}
.column  .view{
    margin-top: 8px;
    width: 100%;
}
.column  .sky{
    margin-top: 8px;
    vertical-align: middle;
    width: 80%;
    margin-left: 20px;
    height: 25%
}
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .getCash {
        flex-flow: wrap;
    }
    .getCash img {
        display: none;
    }
    .hero {
        display: none;
    }
    .signupimg {
        display: none;
    }
    .logos {
        display: none;
    }
    .footer {
        flex-flow: wrap;
        font-size: 0.8em;
    }

    .social-media-icon {
        margin-left: 8em;
        
    }
    .footer-lists {
        margin-left: 8em;
    }
    .footerundertext {
        font-size: 0.7em;
    }
    .grid-gallery {
        display: none;
    }
    
    .header {
        display: flex;
        flex-flow: column;
        margin: 3em;
    }
    .invt {
        font-size: 3em;
        margin-bottom: 1em;
        margin-right: 1em;

    }
    .nav-area {
        margin-bottom: 1em;
    }
    .Referral  {
        font-size: 0.6em;
    }
    .Rcommunity {
        margin-left: 2em;
        margin-top: -1.5em;
    }
    .referral2 {
        font-size: 0.6em;
        margin-bottom: 10em;
    }
   
    .submitbtn2 {
        margin-left: 0;
        margin-top: 1em;
    }
    
    
}

.footer{
    background-color: black;
    /* height: 280px; */
    padding: 5%;
    margin-top: -5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    
}
.social-media {
    margin-top: 3%;
    margin-left: 1%;
}
.footer-p {
    color: white;
    margin-bottom: 10px;
}
.footer-lists {
    
    color: white;
    display: flex;
    justify-content: space-around;
    width: 40%;
    
}
.footer-lists  ul {
    list-style-type: none;
}
.top-item {
    margin-bottom: 10px;
    font-size: 18px;
}
.footer-lists li {
    padding: 2px;
}
.undertext {
    padding: 13px;
    color: #42403F;
    margin: auto;
    width: 90%;
    font-size: 13px;
}