* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: auto;
    /* padding-top: 10px; */
    /* padding-left: 50px; */
    width: 80%;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
    
}
.nav-area {
    list-style: none;
}
.nav-area li {
    display: inline-block;
    padding: 0 15px;
}
.nav-area li a {
    transition: .3s;
    color: black;
    cursor: pointer;
}
.nav-area li a:hover {
    color: #A831A5
}
.invt {
    font-weight: bolder;
    font-size: 20px;
}
.buttons-nav {
    /* padding-right: 74px; */
}
.Sign-in {
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;

}
.Sign-up {
    cursor: pointer;
    background-color:black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
}
.Sign-up:hover {
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.Sign-in:hover {
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
#select1 {
    border: 0px;
    outline: 0px;
}
#select2 {
    border: 0px;
    outline: 0px;
}

.Referral {
    background-color: black;
    height: 280px;
    position: relative;
    padding: 60px;
    border-radius: 5px;

}
.Rcommunity {
    color: white;
    padding-bottom: 10px;

    font-weight: lighter;
    /* padding-bottom: 20px; */
}
.p1 {
    color: white;
    font-weight: lighter;
    

}
.p2 {
    color: white;
    font-weight: lighter;
    padding-bottom: 18px;
}
.hero {
    position: absolute;
    top: -18px;
    right: 1%;
    width: 474;
    height: 382;
}
#promoselect { 
    width: 33%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
}
#promoselect:hover {
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.submitbtn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.logos {
    display: flex;
    justify-content:space-evenly;
    margin-top: 10%;
}
.imgL {
    height: 36px;
    width: 134px;
}

.getCash {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    /* margin-left: 35px; */
    /* margin-right: 35px; */

}
.getCash>img {
    width: 33%;
}
#cashrewards {
    margin-bottom: 35px;
    margin-left: 30px;
    /* margin-right: 35px; */
}
#cashrewards2 {
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}
#cashrewards3 {
    margin-bottom: 35px;
    margin-left: 35px;
    margin-right: 35px;
}
.dontyou {
    background-color: black;
    height: 280px;
    position: relative;
    /* padding: 60px; */
    border-radius: 5px;
}
.submitbtn2 {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #A831A5;
    background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.buttonpad {
    padding-left: 60px;
}